################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MazaBuildTask/.vs/MazaBuildTask
/MazaBuildTask/MazaBuildTask/.vs/GreetingTasks/v16
/MazaBuildTask/MazaBuildTask/bin/Debug
/MazaBuildTask/MazaBuildTask/obj
/UsingMazaBuildTask/.vs/UsingMazaBuildTask
/UsingMazaBuildTask/UsingMazaBuildTask/.vs/UsingMazaBuildTask
/UsingMazaBuildTask/UsingMazaBuildTask/bin/Debug
/UsingMazaBuildTask/UsingMazaBuildTask/obj
/artifacts
